*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.logo{
    max-width: 200px;
    height: auto;
    align-items: center;
    color:#ffffff;
    display:inline;
    font-size:24px;
    font-weight:700;
    line-height:36px;
    margin:6.4px 0px;
}

nav > div {
    background-color: #3d50647b; 
}
.main {
    flex: 1;
}
.footer {
    background-color: #f4f4f4;
    padding: 1%;
}
#btn-instagram{
    border:none;
    background: radial-gradient(
        circle farthest-corner at 10% 75%,
        rgba(255, 225, 125, 1) 0%,
        rgba(255, 205, 105, 1) 12%,
        rgba(250, 145, 55, 1) 25%,
        rgba(235, 65, 65, 1) 40%,
        transparent 75%
    ),
    linear-gradient(-15deg, rgba(35, 75, 215, 1) 20%, rgba(195, 60, 190, 1) 90%);
    overflow: hidden;
    animation: GradientBackground 5s ease infinite;
}



